@import '_variables.scss';

html, body {
  height: 100%;
  // overflow: hidden;
}

body {
  list-style: none;
  padding: 5%;
  margin: 0;
  background-color: rgb(182, 182, 182);
}

.App {
  height: 100%;
  width: 400px;
  margin: auto;
  border-radius: 10px;
  // text-align: center;
  background-color: $app-bg;
  padding-top: 2%;
  // overflow: hidden;

  .container {
    padding: 3%;

    .app-heading {
      padding: 0;
      margin: 0;
      margin-bottom: 5%;
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;

  
      span {
        font-size: 160%;
        font-weight: 900;
        color: $green;
      }
  
      h2 {
        margin-right: 3%;
        margin-left: 3%;
        margin-bottom: 0;
        color: $text;
      }
    }

    .input-div {
      width: 100%;
    }
    
    ul {
      height: 36em;
      margin-top: 6%;
      margin-right: -3%;
      list-style: none;
      padding-inline-start: 0;
      overflow-y: hidden;

      &:hover {
        overflow-y: overlay;
      }
  
      li {
        width: 100%;
        display: flex;
        align-items: baseline;
        padding-bottom: 2%;
        border-radius: 10px;
  
        p {
          margin-right: auto;
          font-size: 110%;
          font-weight: 500;
          color: $text;
          align-self: flex-end;
        }

        &:hover {
          background-color: $li-bg;
        }
  
        // button {
        //   justify-self: flex-end;
        // }
      }
    }
    ul::-webkit-scrollbar { 
      background-color: dark;
      width: 0.6em;
    }
    ul::-webkit-scrollbar-track {
      box-shadow: inset 0 0 0.1em $scrollbar-hover; 
      border-radius: 10px;
    }
    ul::-webkit-scrollbar-thumb {
      background-color: $scrollbar;
    }
    ul::-webkit-scrollbar-thumb:hover {
      background-color: $scrollbar-hover;
    }
  }

}

